<template>
	<view class="card">
		<image class="card-bg" style="width: 100%;" src="@/static/index/card_bg.png" mode="widthFix"></image>

		<view class="card-main">
			<view class="card-main-top u-flex">
				<image style="width: 100rpx;height: 100rpx;border-radius: 50%;margin-right: 30rpx;"
					:src="imageUrl + userInfo.photo" mode=""></image>
				<text class="name">{{userInfo.name || ''}}</text>
			</view>

			<view class="card-main-container">
				<view class="title">
					<image style="width: 60rpx;" src="@/static/index/card_icon2.png" mode="widthFix"></image>
					<text>开通会员</text>
					<image style="width: 60rpx;" src="@/static/index/card_icon1.png" mode="widthFix"></image>
				</view>

				<view class="desc">
					您暂时不是会员用户，请提交信息开通会员~
				</view>

				<u-form :model="form" ref="uForm" :error-type="['toast']">
					<view class="input">
						<u-form-item :border-bottom="false" prop="name"><u-input v-model="form.name"
								placeholder="请输入姓名" /></u-form-item>
					</view>
					<view class="input">
						<u-form-item :border-bottom="false" prop="studentNumber"><u-input v-model="form.studentNumber"
								placeholder="请输入学号" /></u-form-item>
					</view>
				</u-form>

				<view style="padding: 30rpx 0;">
					<u-button @click="handleSubmit" shape="circle" :loading="btnLoading"
						:custom-style="btnStyle">立即开通</u-button>
				</view>

			</view>

		</view>
	</view>
</template>

<script>
	import {
		memberRegister,
		memberInfo,
		memberCardPay
	} from '@/api/member.js'
	export default {
		data() {
			return {
				btnLoading: false,
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				form: {
					name: '',
					studentNumber: ''
				},
				userInfo: {},
				imageUrl: this.$imageUrl,
				rules: {
					// 字段名称
					name: [{
						required: true,
						message: '请输入姓名',
						trigger: ['change', 'blur'],
					}, ],
					studentNumber: [{
						required: true,
						message: '请输入学号',
						trigger: ['change', 'blur'],
					}],
				},
			}
		},
		onLoad() {
			this.userInfo = uni.getStorageSync('userInfo')
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		methods: {
			handleSubmit() {
				let _this = this
				this.$refs.uForm.validate(valid => {
					if (valid) {
						this.btnLoading = true
						let form = JSON.parse(JSON.stringify(this.form))

						memberRegister(form).then(res => {
							if (res.code == 200) {
								uni.requestPayment({
									nonceStr: res.data.nonceStr,
									timeStamp: res.data.timeStamp,
									package: res.data.packageValue,
									signType: res.data.signType,
									paySign: res.data.paySign,
									success(e) {
										setTimeout(() => {
											_this.btnLoading = false
											uni.navigateBack()
										}, 800)
									},
									fail() {
										_this.btnLoading = false
									}
								})
							} else {
								this.$u.toast(res.msg);
								_this.btnLoading = false
							}
						})
					} else {
						console.log('验证失败');
					}
				});
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.card {

		&-bg {
			position: absolute;
			top: 0;
			z-index: -1;
		}

		&-main {

			&-top {
				padding: 60rpx 60rpx 35rpx;

				.photo {
					border: 4rpx solid #fff;
				}

				.name {
					font-size: 38rpx;
					font-weight: normal;
					color: #FFFFFF;
					margin-left: 30rpx;
				}
			}

			&-container {
				margin: 30rpx;
				background: #FFFFFF;
				border-radius: 20px;
				padding: 65rpx 45rpx;

				.title {
					display: flex;
					align-items: center;
					justify-content: center;

					text {
						font-size: 32rpx;
						font-weight: normal;
						color: #333333;
						margin: 0 20rpx;
					}
				}

				.desc {
					font-size: 24rpx;
					font-weight: bold;
					color: #666666;
					text-align: center;
					margin: 40rpx 0 60rpx;
				}

				.input {
					background: #F5F6FA;
					border-radius: 80rpx;
					padding: 0 45rpx;
					margin-bottom: 36rpx;
				}
			}
		}
	}
</style>