<template>
	<view class="index">
		<view style="border-radius: 20rpx;overflow: hidden;">

			<swiper class="banners" indicator-dots indicator-color='ivory' autoplay interval="5000"
				indicator-active-color='#d43c33'>
				
				<navigator url="/pages/banner/banner2/banner2">
					<swiper-item>
						<image src="/static/banner/livehouse.jpg"
							style="width: 690rpx; height: 690rpx; display: inline-block; box-sizing: border-box; position: relative; left: 0rpx; top: -32rpx">
						</image>
					</swiper-item>
				</navigator>
<!-- 				<navigator url="/pages/banner/banner3/banner3"> 
					<swiper-item>
						<image src="/static/banner/fresher.jpeg"
							style="width: 690rpx; height: 690rpx; display: inline-block; box-sizing: border-box; position: relative; left: 0rpx; top: -32rpx">
						</image>
					</swiper-item> 
				</navigator> -->
				<navigator url="/pages/banner/banner1/banner1">
					<swiper-item>
						<image src="/static/banner/cssalogo.jpg"
							style="width: 690rpx; height: 690rpx; display: inline-block; box-sizing: border-box; position: relative; left: 0rpx; top: -32rpx">
						</image> 
					</swiper-item> 
				</navigator>
			</swiper>

		</view>

		<view class="u-m-t-30">
			<u-grid :col="5" :border="false" @click="handleGridItem">
				<u-grid-item bg-color="#fafafa" v-for="(item,index) in gridList" :key="index" :index="index">
					<image style="width: 120rpx;height: 120rpx;" :src="item.image" mode=""></image>
					<view class="grid-text">{{item.name}}</view>
				</u-grid-item>
			</u-grid>
		</view>

		<view class="u-m-t-30" v-if="list.length > 0">
			<block v-for="(item,index) in list" :key="index">
				<Item :item="item"></Item>
			</block>
		</view>

		<u-empty v-if="list.length == 0" text="正在加载~" mode="list" margin-top="130"></u-empty>

		<wxLogin :show="show" @close="show = false"></wxLogin>
	</view>
</template>

<script>
	import Item from '@/components/item.vue'
	import {
		getActivity,
		getNotice
	} from '../../api/activity'
	import {
		memberInfo,
	} from '@/api/member.js'
	import wxLogin from '@/components/wx-login/wx-login.vue'

	export default {
		data() {
			return {
				banners: [],
				gridList: [{
						name: '小助手',
						image: require('@/static/index/icon_code_1.png'),
						url: '/pagesA/helper/helper'
					},
					{
						name: '二手商城',
						image: require('@/static/index/icon_code_2.png'),
						url: '/pagesA/second-hand/second-hand'
					},
					{
						name: '会员卡',
						image: require('@/static/index/icon_code_3.png'),
						url: '/pagesA/membership-card/membership-card'
					},
					{
						name: '票务',
						image: require('@/static/index/icon_code_4.png'),
						url: '/pagesA/shopping/shopping',
					},
					{
						name: '关于学联',
						image: require('@/static/index/icon_code_5.png'),
						url: '/pages/web-view/web-view',
						webUrl: 'https://mp.weixin.qq.com/s/Dg2-_JXrpyVFA6oV7fO0kQ'
					}
				],
				list: [],
				userInfo: {},
				show: false
			}
		},
		components: {
			Item,
			wxLogin
		},
		async onLoad() {
			await this.$onLaunched

			if (!uni.getStorageSync('token')) this.show = true;
			else this.show = false


			getNotice({
				pageSize: 25,
				pageNo: 1
			}).then(res => {
				this.list = res.data
			})
		},
		methods: {
			async handleGridItem(e) {
				if (e == 2 && !uni.getStorageSync('token')) return uni.showModal({
					title: '登录提示',
					content: '请先前往我的页面，进行登录，登录之后可注册会员卡',
					success(res) {
						if (res.confirm) {
							uni.switchTab({
								url: '/pages/my/my'
							})
						}
					}
				})

				if (e == 2) {
					let res = await memberInfo()
					this.userInfo = res.data
				}


				if (e == 2 && this.userInfo.memberCard) this.gridList[e].url = '/pagesA/renew-card/renew-card';
				else if (e == 2 && !this.userInfo.memberCard) this.gridList[e].url =
					'/pagesA/membership-card/membership-card'
				

				if (!this.gridList[e].url) return this.$u.toast(`功能正在完善中`)
				console.log(encodeURIComponent(this.gridList[e].webUrl), 'encodeURIComponent(this.gridList[e].webUrl)')
				uni.navigateTo({
					url: this.gridList[e].url + '?src=' + encodeURIComponent(this.gridList[e].webUrl) 
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.index {
		padding: 30rpx;

		.grid-text {
			margin-top: 10rpx;
		}
	}
</style>

<style>
	.banners {
		width: 100%;
		height: 600rpx;
	}
</style>