<template>
	<view>
		<u-tabs :list="tabsList" :is-scroll="false" :current="current" @change="change" active-color="#FF5C53"
			bg-color="#FFFFFF"></u-tabs>
		<view class="u-p-30" v-if="list.length > 0">
			<block v-for="(item,index) in list" :key="index">
				<Item :item="item"></Item>
			</block>
			<view class="u-p-t-30">
				<u-loadmore :status="status" />
			</view>
		</view>
		<u-empty v-if="list.length == 0" text="活动列表为空" mode="list" margin-top="130"></u-empty>
	</view>
</template>

<script>
	import Item from '@/components/item.vue'
	import {
		getActivity
	} from '../../api/activity'
	import {
		mixins
	} from '../../mixins'
	export default {
		data() {
			return {
				tabsList: [{
					name: '最新活动'
				}, {
					name: '往期活动'
				}],
				current: 0,
				urlApi: getActivity,
				list: [],
				params: {
					type: 1
				}
			}
		},
		components: {
			Item
		},
		mixins: [mixins],
		onShow() {
			uni.startPullDownRefresh()
		},
		async onPullDownRefresh() {
			this.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList
			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		methods: {
			change(index) {
				this.current = index
				this.params.type = this.current + 1
				this.pageNo = 1
				
				uni.startPullDownRefresh()
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>