<script>
	import { wxLogin } from '@/api/user.js';
	export default {
		onLaunch: function() {
			let _this = this
			uni.login({
				provider: 'weixin',
				async success(res) {
					try {
						let data = await wxLogin({
							code: res.code,
							appid: 'wx071f5d0aa1055528',
							// isPass: true
						});
						uni.setStorageSync('userInfo', data.data.userInfo);
						uni.setStorageSync('token', data.data.token);
						_this.$isResolve();
					} catch (e) {
						console.error(e);
					}
				}
			});
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style lang="scss">
	/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
	@import "uview-ui/index.scss";
</style>
