<template>
	<view class="renew">
		<image class="renew-bg" style="width: 100%;" src="@/static/index/card_bg.png" mode="widthFix"></image>

		<view class="renew-main" style="padding: 110rpx 30rpx 30rpx;">
 
			<view class="u-m-t-30 u-relative">
				<image style="width: 100%;height: 304rpx;" src="@/static/my/card.png" mode=""></image>
				<view class="u-absolute u-flex bard-container" style="top: 0;width: 100%;height: 100%;">
					<view  class=" u-flex bard-container" style="width: 100%;">
						<view style="width: 300rpx;" class="u-flex u-row-center u-col-center">
							<view style="width: 200rpx;height: 200rpx;border: 3rpx solid #FFFFFF;border-radius: 50%;">
								<image v-if="memberCardInfo.photo" style="width: 100%;height: 100%;border-radius: 50%;"
									:src="imageUrl + memberCardInfo.photo" mode="">
								</image>
								<image v-else style="width: 100%;height: 100%;border-radius: 50%;"  :src="`${imageUrl}/static/common/images/flat-photo.png`"
									mode="">
								</image>
							</view>
						</view>
						<view>
							<view class="bard-font">
								姓名：{{userInfo.memberCard.name || ''}}
							</view>
							<view class="bard-font">
								学号：{{userInfo.memberCard.studentNumber || ''}}
							</view>
							<view class="bard-font">
								卡号：{{userInfo.memberCard.number || ''}}
							</view>
							<view class="bard-font">
								有效期：2025-9-30
							</view>
						</view>
					</view>
				</view>
			</view>

			<view class="box u-m-t-30" style="padding: 65rpx 0;">
				<image style="width: 250rpx;height: 250rpx;" :src="imageUrl + memberCardInfo.qrCode" mode=""></image>
				<view class="box-desc u-m-t-42">
					*添加主页小助手可加入会员专属群*
				</view>
				<view class="box-desc u-m-t-80">
					当前时间：{{currentTime || ''}}
				</view>
			</view>

<!-- 			<view style="padding: 56rpx 0;">
				<u-button @click="handleSubmit" shape="circle" :loading="btnLoading"
					:custom-style="btnStyle">续费会员</u-button>
			</view> -->
			<view style="text-align: center; color: gray; font-size: 12px; padding: 56rpx 0;">
				©2023 谢菲尔德中国学生学者联谊会
			</view>

		</view>
	</view>
</template>

<script>
	import {
		memberCardInfo,
		memberCardRenew,
		memberCardPay,
		memberInfo
	} from '@/api/member.js'
	import {
		userInfo
	} from 'os'
	export default {
		data() {
			return {
				userInfo: {},
				memberCardInfo: {},
				imageUrl: this.$imageUrl,
				currentTime: '',
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				btnLoading: false
			}
		},
		async onLoad() {
			if (!uni.getStorageInfoSync('token')) await this.$onLaunched
		},
		async onShow() {
			let userInfo = await memberInfo()
			this.userInfo = userInfo.data

			memberCardInfo({
				cardId: this.userInfo.memberCard.id
			}).then(res => {
				this.memberCardInfo = res.data
			})

			setInterval(() => {
				let date = new Date()
				this.currentTime = this.addZero(date.getHours()) + ':' +  this.addZero(date.getMinutes()) + ':' +  this.addZero(date.getSeconds())
			}, 1000)
		},
		methods: {
			addZero(n) {
				return n < 10 ? "0" + n : n + "";
			},
			handleSubmit() {
				let _this = this
				uni.showModal({
					title: '续费提示',
					content: '确定续费？',
					success(modal) {
						if (modal.confirm) {
							_this.btnLoading = true
							memberCardRenew({
								cardId: _this.memberCardInfo.id
							}).then(res => {
								if (res.code == 200) {
									uni.requestPayment({
										nonceStr: res.data.nonceStr,
										timeStamp: res.data.timeStamp,
										package: res.data.packageValue,
										signType: res.data.signType,
										paySign: res.data.paySign,
										success(e) {
											setTimeout(() => {
												_this.btnLoading = false
												uni.navigateBack()
											}, 800)
										},
										fail() {
											_this.btnLoading = false
										}
									})
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none'
									})
									_this.btnLoading = false
								}
							})
						} else {
							_this.btnLoading = false
						}

					}
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.renew {
		&-bg {
			position: absolute;
			top: 0;
			z-index: -1;
		}

		&-main {
			.bard-container {
				.bard-font {
					font-size: 28rpx;
					font-weight: bold;
					color: #FFFFFF;
					margin-top: 20rpx;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			.box {
				background: #FFFFFF;
				border-radius: 20rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				&-desc {
					font-size: 28rpx;
					font-weight: bold;
					color: #333333;
				}
			}
		}
	}
</style>