<template>
	<web-view src='https://mp.weixin.qq.com/s/SuviE-HhnSO2dDlmRrNsyA'></web-view> 
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
		
		},
		methods2: {
		
		}
	}
</script>

<style>

</style>