<template>
	<view class="nearby">
		<u-search placeholder="搜索店铺名" :show-action="false" @change="inputChange" v-module="params.name"></u-search>
		<view class="u-p-t-30" v-if="list.length > 0">

			<view class="block u-flex u-col-top" v-for="(item,index) in list" :key="index" @click="gotoDetail(item.id)">
				<image style="width: 200rpx;height: 200rpx;margin-right: 40rpx;flex-shrink: 0;border-radius: 10rpx;"
					:src="imageUrl + item.logo" mode=""></image>
				<view class="block-right">
					<view class="block-right-top">
						<view class="title u-line-1">
							{{item.name || ''}}
						</view>
						<view class="tips u-flex">
							<view class="tips-item" v-for="(v,i) in getArray(item.labels)" :key="i">
								{{v}}
							</view>
						</view>
					</view>
					<view class="block-right-bottom u-flex u-row-between ">
						<view class="desc u-flex" style="width: 200rpx;">
							<u-icon name="map-fill"></u-icon>
							<view class="u-line-1 u-m-l-10">{{item.address || ''}}</view>
						</view>
						<view class="button" @click.stop="handleClipboardData(item.address)">
							复制
						</view>
					</view>
				</view>
			</view>
			<view>
				<u-loadmore :status="status" />
			</view>
		</view>
		<u-empty v-if="list.length == 0" text="活动列表为空" mode="list" margin-top="130"></u-empty>
	</view>
</template>

<script>
	import {
		getBusinessList
	} from '../../api/business'
	import {
		mixins
	} from '../../mixins'
	export default {
		data() {
			return {
				isFirstLoad: true,
				urlApi: getBusinessList,
				list: [],
				imageUrl: this.$imageUrl,
				params: {
					pageNo: 1,
					name: ''
				}
			}
		},
		onShow() {
			if (this.isFirstLoad) {
				uni.startPullDownRefresh();
				this.isFirstLoad = false; // 设置为false，后续不会再次触发
			}
		},
		mixins: [mixins],
		async onPullDownRefresh() {
			this.params.pageNo = 1
			this.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList

			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		methods: {
			handleClipboardData(data) {
				uni.setClipboardData({
					data,
					success: function() {
						console.log('success');
					}
				});
			},
			gotoDetail(id) {
				uni.navigateTo({
					url: `/pagesC/detail/detail?id=${id}`
				})
			},
			getArray(item) {
				return item ? item.split(',') : []
			},
			async inputChange(e) {
				this.params.pageNo = 1
				this.params.name = e
				this.list = await this.getList(this.urlApi, this.params)
			}
		}
	}
</script>

<style>
	page {
		background-color: #fafafa;
	}
</style>

<style lang="scss" scoped>
	.nearby {
		padding: 30rpx;

		.block {
			background: #FFFFFF;
			box-shadow: 0px 1px 18px 0px rgba(192, 192, 192, 0.08);
			border-radius: 8rpx;
			padding: 30rpx;
			margin-bottom: 30rpx;

			&-right {
				position: relative;
				width: calc(100% - 240rpx);
				height: 200rpx;

				.title {
					font-size: 28rpx;
					font-weight: bold;
					color: #303030;
				}

				.tips {
					flex-wrap: wrap;
					margin-top: 20rpx;

					&-item {
						background: #F8F8F8;
						border-radius: 4rpx;
						padding: 5rpx 20rpx;

						font-size: 20rpx;
						font-weight: 500;
						color: #666666;
						margin-right: 15rpx;
						margin-bottom: 10rpx;
					}
				}


				&-bottom {
					position: absolute;
					bottom: 0;
					width: 100%;

					.desc {
						font-size: 24rpx;
						font-weight: 500;
						color: #666666;
					}

					.button {
						border: 1px solid #FF5C53;
						border-radius: 40rpx;
						padding: 5rpx 30rpx;
						font-size: 22rpx;
						font-weight: 500;
						color: #FF5C53;
					}
				}
			}
		}
	}
</style>