<template>
	<view>
		<u-popup v-model="popupShow" mode="bottom" border-radius="30" :closeable="true" @close="close()"
			:safeAreaInsetBottom="false">
			<view class="popup">
				<view class="title">获取你得昵称、头像</view>
				<view class="desc">获取用户头像、昵称，用于向用户提供具有辨识度的个人中心界面</view>
				<view class="form">
					<button class="form-item" open-type="chooseAvatar" @chooseavatar="chooseavatar">
						<view class="label">头像</view>
						<!-- 获取用户头像 -->
						<view class="content">
							<image class="icon-box" v-if="avater" :src="avater"></image>
							<view v-else class="icon-box"><u-icon size="30" name="account-fill"></u-icon></view>
						</view>
						<u-icon size="20" name="arrow-right"></u-icon>
					</button>
		
					<view class="form-item">
						<view class="label">昵称</view>
						<view class="content">
							<!-- 获取用户名称 -->
							<input type="nickname" v-model="nickname" placeholder="请输入用户昵称" @input="bindinput"
								@blur="bindblur" />
						</view>
					</view>
				</view>
		
				<u-button type="primary" shape="circle" @click="onSubmit">保存</u-button>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		memberInfo,
	} from '@/api/member.js'
	
	import {
		wxRegister,
	} from '@/api/user.js'
	
	export default {
		name:"wx-login",
		props: {
			show: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				popupShow: this.show,
				avater: '',
				nickname: '',
			};
		},
		methods: {
			chooseavatar(e)  {
				this.avater = e.detail.avatarUrl;
			},
			bindblur(e) {
				this.nickName = e.detail.value;
			},
			bindinput(e) {
				this.nickName = e.detail.value;
			},
			close() {
				this.popupShow = false
				this.$emit('close')
			},
			async onSubmit() {
				let _this = this
				console.log(this.nickName)
				console.log(this.avater)
				if (!this.nickName || !this.avater) return this.$u.toast('请上传头像和输入姓名');
				
				uni.showLoading({
					title: '登录中...'
				})
				const image = await this.uploadFile(this.avater);
				
				if(image.code != 200) return this.$u.toast('头像上传失败，请重新上传');
				
				uni.login({
					provider: 'weixin',
					async success(res) {
						try {
							let data = await wxRegister({
								code: res.code,
								appid: 'wx071f5d0aa1055528',
								name: _this.nickName,
								photo: image.data
							});
							
							if (data.code == 200) {
								uni.setStorageSync('userInfo', data.data.userInfo);
								uni.setStorageSync('token', data.data.token);
							
								setTimeout(() => {
									uni.hideLoading()
									uni.showToast({
										icon: 'success',
										title: '登录成功'
									});
									_this.$emit('success')
									_this.close()
								}, 800)
							} else {
								uni.hideLoading()
								uni.showToast({
									icon: 'none',
									title: data.msg
								});
							}
						} catch (e) {
							console.error(e);
						}
					}
				});
			},
			uploadFile(filePath) {
				let _this = this;
				return new Promise(resove => {
					let a = uni.uploadFile({
						url: this.$imageUrl + '/api/member/imageUpload?token=' + uni.getStorageSync('token'),
						filePath: filePath,
						name: 'file',
						success: res => {
							let data = JSON.parse(res.data);
							resove(data);
						}
					});
				});
			}
		},
		watch: {
			show() {
				this.popupShow = this.show
			},
		}
	}
</script>

<style lang="scss" scopedss>
	.popup {
		padding: 60rpx 30rpx 30rpx;
	}

	.title {
		font-weight: 600;
		font-size: 32rpx;
	}

	.desc {
		font-size: 30rpx;
		margin: 20rpx 0;
	}

	.form {
		margin-bottom: 60rpx;

		&-item {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #dfe3e7;
			padding: 30rpx 0;

			.label {
				font-size: 30rpx;
				color: #333;
			}

			.content {
				margin-left: 40rpx;
				flex: 1;
			}

			.icon-box {
				background-color: #dfe3e7;
				border-radius: 10rpx;
				width: 80rpx;
				height: 80rpx;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	button {
		background-color: #fff;
		padding: 0;
		border: none;

		&::after {
			border: none;
		}
	}

	.content-popup {
		padding: 80rpx 30rpx 40rpx;
		text-align: left;
		border-radius: 24rpx;
	
		&-title {
			font-size: 30rpx;
			color: #000000;
		}
		
		&-tips {
			color: red;
			font-weight: 600;
			margin-top: 20rpx;
			font-size: 28rpx;
		}
	
		image {
			display: block;
			margin: 20rpx auto 0;
		}
	}
</style>