<template>
	<view>
		<view style="background-color: #fff;">
			<u-tabs active-color="#FF5C53" :list="tabsList" :is-scroll="false" :current="current" @change="change"
				name="label"></u-tabs>
		</view>
		<view class="u-p-30" v-if="list.length > 0">
			<u-row>
				<u-col span="12" v-for="item in list" :key="item.id">
					<view class="col">
						<view class="col-title u-flex u-row-between">
							<view class="num">
								核销码：{{item.redeemCode || ''}}
							</view>
							<view class="status">
								<text :style="{color: colorArray[item.status - 1]}" v-for="v in tabsList" :key="v.id"
									v-if="v.value == item.status">
									{{v.label || ''}}
								</text>
							</view>
						</view>
						<view class="col-goods u-flex u-col-top">
							<image :src="imageUrl + item.redeemGoods.images" mode=""></image>
							<view class="right">
								<view class="right-title">
									{{item.redeemGoods.name || ''}}
								</view>
								<view class="right-desc">
									{{item.redeemGoods.points || ''}} <text style="font-size: 24rpx;">积分</text>
								</view>
							</view>
						</view>
						<view class="col-member">
							<view class="col-member-desc u-flex u-col-top">
								<text>姓名：</text>
								<text>{{item.name || ''}}</text>
							</view>
							<view class="col-member-desc u-flex u-col-top">
								<text>手机号：</text>
								<text>{{item.cellPhone || ''}}</text>
							</view>
							<view class="col-member-desc u-flex u-col-top">
								<text>地址：</text>
								<text>{{item.address || ''}}</text>
							</view>
							<view class="col-member-desc u-flex u-col-top">
								<text>备注：</text>
								<text>{{item.remarks || ''}}</text>
							</view>
						</view>
					</view>
				</u-col>
			</u-row>
			<view class="u-p-30">
				<u-loadmore :status="status" />
			</view>
		</view>

		<u-empty v-if="list.length == 0" text="物品列表暂无数据" mode="list" margin-top="130"></u-empty>
	</view>
</template>

<script>
	import {
		getDictList
	} from '../../api/common'
	import {
		getRedeemRecordMyList
	} from '../../api/redeemGoods'
	import {
		mixins
	} from '../../mixins'
	export default {
		data() {
			return {
				tabsList: [],
				current: 0,
				urlApi: getRedeemRecordMyList,
				params: {
					pageNo: 1,
					pageSize: 10,
					status: '',
				},
				list: [],
				imageUrl: this.$imageUrl,
				colorArray: ['#FF5C53', '#fbca35', '#3ec845', '#e96154']
			}
		},
		mixins: [mixins],
		onShow() {
			uni.startPullDownRefresh()
		},
		async onLoad() {
			const res = await getDictList({
				types: 'redeem_record_status'
			})
			this.tabsList = res.data.redeem_record_status
		},
		async onPullDownRefresh() {
			this.params.pageNo = 1
			this.params.status = this.tabsList[this.current].value
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList

			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		methods: {
			async change(index) {
				this.params.pageNo = 1
				this.current = index
				uni.startPullDownRefresh()

			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.col {
		background-color: #fff;
		padding: 35rpx 30rpx;
		margin-bottom: 30rpx;

		&-title {
			font-size: 24rpx;
			font-weight: 500;
			color: #333333;


			.status {
				font-size: 26rpx;
				font-weight: bold;
			}
		}

		&-goods {
			margin: 40rpx 0;

			image {
				width: 180rpx;
				height: 180rpx;
				border-radius: 23rpx;
				margin-right: 36rpx;
				flex-shrink: 0;
			}

			.right {
				&-title {
					font-size: 28rpx;
					font-weight: 500;
					color: #000000;
				}

				&-desc {
					font-size: 34rpx;
					font-weight: 800;
					color: #FF5C53;
					margin: 30rpx 0;
				}
			}
		}

		&-member {
			&-desc {
				font-size: 26rpx;
				font-weight: 500;
				color: #333333;
				margin: 20rpx 0;

				text {
					&:first-child {
						flex-shrink: 0;
					}

					&:last-child {
						display: block;
						white-space: normal; // 规定段落中的文本不进行换行
						word-break: break-all; // 允许单词中换行，在容器的最右边进行断开不会浪费控件
						word-wrap: break-word; // 防止长单词溢出，单词内部短句
					}
				}
			}
		}
	}
</style>