<template>
	<view>
		
	</view>
</template>

<script>
	export default {
		onLoad: function() {
		      const appid = 'wx4b726121dfcbf88b';
		      const path = 'wxa/pages/offlinePay/index';
		  
		      wx.navigateToMiniProgram({
		        appId: appid,
		        path: path,
		        success: (res) => {
		          console.log('跳转成功');
		        },
		        fail: (err) => {
		          console.error('跳转失败', err);
		        },
		      });
		    },
	}
</script>

<style>

</style>
