<template>
	<view>
		<view class="search">
			<u-search placeholder="搜索你喜欢的商品吧" v-model="params.name" :show-action="false" @change="inputChange"></u-search>
		</view>
		<view class=" u-m-t-38" v-if="list.length > 0">
			<u-row gutter="38">

				<u-col span="6" v-for="(item,index) in list" :key="index">
					<view class="layout">
						<image style="width: 100%;height: 305rpx;" :src="imageUrl + item.images" mode=""></image>
						<view class="u-p-30">
							<view class="title u-line-1">
								{{item.name || ''}}
							</view>
							<view class="price u-flex u-row-between">
								<view style="flex: 1;" class="u-flex">
									{{item.points || ''}}积分
								</view>
								<view class="button" @click="handleExchange(item)">
									兑换
								</view>
							</view>
						</view>
					</view>
				</u-col>

			</u-row>

			<view class="u-p-30">
				<u-loadmore :status="status" />
			</view>
		</view>
		<u-empty v-if="list.length == 0" text="物品列表暂无数据" mode="list" margin-top="130"></u-empty>

		<u-popup v-model="show" mode="center" width="620rpx" border-radius="10">
			<view class="popup">
				<u-form :model="form" ref="uForm" label-width="160">
					<u-form-item label="姓名" prop="name"><u-input v-model="form.name" placeholder="请输入姓名"
							input-align="right" /></u-form-item>
					<u-form-item label="手机号" prop="cellPhone"><u-input v-model="form.cellPhone" placeholder="请输入手机号"
							input-align="right" /></u-form-item>
					<u-form-item label="地址" prop="address"><u-input v-model="form.address" placeholder="请输入地址"
							input-align="right" /></u-form-item>
					<u-form-item label="备注" label-position="top">
						<view style="padding:30rpx;background-color: #f4f5f6;border-radius: 20rpx;">
							<textarea v-model="form.remarks" style="width: 100%;height: 217rpx;" placeholder="请输入文字描述"
								maxlength="-1"></textarea>
						</view>

					</u-form-item>
				</u-form>
				<view class="u-m-t-50">
					<u-button @click="handleSubmit" shape="circle" :custom-style="btnStyle"
						:loading="btnLoading">提交</u-button>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getRedeemGoodsList
	} from '../../api/redeemRecord.js'
	import {
		submitRedeemRecordSave
	} from '../../api/redeemGoods.js'
	import {
		mixins
	} from '../../mixins'
	export default {
		data() {
			return {
				params: {
					pageNo: 1,
					pageSize: 10,
					name:''
				},
				urlApi: getRedeemGoodsList,
				list: [],
				imageUrl: this.$imageUrl,
				show: false,
				form: {
					name: '',
					cellPhone: '',
					address: '',
					remarks: ''
				},
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				rules: {
					// 字段名称
					name: [{
						required: true,
						message: '请输入姓名',
						trigger: ['change', 'blur'],
					}, ],
					cellPhone: [{
						required: true,
						message: '请输入手机号',
						trigger: ['change', 'blur'],
					}, ],
					address: [{
						required: true,
						message: '请输入地址',
						trigger: ['change', 'blur'],
					}, ],
				},
				btnLoading: false,
				redeemGoodsId: ''
			}
		},
		mixins: [mixins],
		async onPullDownRefresh() {
			this.params.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList

			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		onShow() {
			uni.startPullDownRefresh()
		},
		methods: {
			async inputChange(e) {
				this.params.pageNo = 1
				let resList = await this.getList(this.urlApi, this.params)
				this.list = resList
			},
			handleExchange(item) {
				this.show = true
				this.redeemGoodsId = item.id
			},
			handleSubmit() {
				if (this.btnLoading) return
				this.$refs.uForm.validate(valid => {
					if (valid) {
						this.btnLoading = true
						submitRedeemRecordSave({...this.form,'redeemGoods.id': this.redeemGoodsId}).then(res => {
							if (res.code == 200) this.$u.toast(res.msg)

							if (res.code == 202) this.$u.toast(res.msg);

							setTimeout(() => {
								this.btnLoading = false
								if (res.code == 200) {
									this.show = false
									
									for(let i in this.form) {
										this.form[i] = ''
									}
									
								}
							}, 800)
						})
					} else {
						console.log('验证失败');
					}
				});
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.search {
		padding: 30rpx;
		background-color: #fff;
	}

	.layout {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.09);
		border-radius: 10rpx;
		overflow: hidden;
		margin-bottom: 38rpx;

		.title {
			font-size: 26rpx;
			font-weight: 500;
			color: #000000;
		}

		.price {
			font-size: 28rpx;
			font-weight: 800;
			color: #FF5C53;
			margin: 30rpx 0 0;

			view {
				white-space: normal; // 规定段落中的文本不进行换行
				word-break: break-all; // 允许单词中换行，在容器的最右边进行断开不会浪费控件
				word-wrap: break-word; // 防止长单词溢出，单词内部短句
			}


			.button {
				margin-left: 20rpx;
				background: #FF5C53;
				border-radius: 30rpx;
				color: #FFFFFF;
				font-size: 22rpx;
				width: 100rpx;
				height: 40rpx;
				line-height: 40rpx;
				flex-shrink: 0;
				text-align: center;
			}
		}

		.user {
			font-size: 24rpx;
			font-weight: 500;
			color: #000000;
		}


	}

	.popup {
		padding: 50rpx;

	}
</style>