<template>
	<view class="my">
		<view class="my-box u-flex u-row-between">
			<view class="u-flex" v-if="token" @click="editShow = true">
				<image style="width: 100rpx;height: 100rpx;border-radius: 50%;margin-right: 30rpx;"
					:src="imageUrl + userInfo.photo" mode=""></image>
				<text
					style="font-size: 32rpx;font-weight: bold;color: #333333;margin-right: 30rpx;">{{userInfo.name || ''}}</text>
				<u-icon name="edit-pen-fill" size="32" color="#999"></u-icon>
			</view>

			<view class=" u-flex " v-else @click="show = true">
				<image style="width: 100rpx;height: 100rpx;border-radius: 50%;margin-right: 30rpx;"
					:src="`${imageUrl}/static/common/images/flat-photo.png`" mode=""></image>
				<text style="font-size: 32rpx;font-weight: bold;color: #333333;">立即登录</text>
			</view>

			<view class="u-flex" @click="handleGoTo('/pagesD/article/article')">
				<image style="width: 30rpx;height: 30rpx;border-radius: 50%;margin-right: 20rpx;"
					src="@/static/my/icon_1.png" mode=""></image>
				<text style="font-size: 28rpx;font-weight: bold;color: #333333;">我的二手</text>
			</view>
		</view>

		<view class="u-m-t-30 u-relative">
			<image style="width: 100%;height: 304rpx;" src="@/static/my/card.png" mode=""></image>
			<view class="u-absolute u-flex bard-container" style="top: 0;width: 100%;height: 100%;">
				<view v-if="userInfo.memberCard" class=" u-flex bard-container" style="width: 100%;" @click="handleGoTo('/pagesA/renew-card/renew-card')">
					<view style="width: 300rpx;" class="u-flex u-row-center u-col-center">
						<view style="width: 200rpx;height: 200rpx;border: 3rpx solid #FFFFFF;border-radius: 50%;">
							<image v-if="!userInfo.memberCard.photo"
								style="width: 100%;height: 100%;border-radius: 50%;"
								:src="`${imageUrl}/static/common/images/flat-photo.png`" mode=""
								@click.stop="handleUploadPhoto">
							</image>
							<image v-else style="width: 100%;height: 100%;border-radius: 50%;"
								:src="`${imageUrl}${userInfo.memberCard.photo}`" mode="">
							</image>
						</view>
					</view>
					<view>
						<view class="bard-font">
							姓名：{{userInfo.memberCard.name || ''}}
						</view>
						<view class="bard-font">
							学号：{{userInfo.memberCard.studentNumber || ''}}
						</view>
						<view class="bard-font">
							卡号：{{userInfo.memberCard.number || ''}}
						</view>
						<view class="bard-font">
							有效期：2025-9-30
						</view>
					</view>
				</view>
				
				<view style="margin: 0 auto;" v-else>
					<u-button @click="handleGoTo('/pagesD/binding-card/binding-card')" shape="circle"
						:custom-style="btnStyle">绑定会员卡</u-button>
					<view style="margin-top: 20rpx;">
						<u-button @click="handleGoTo('/pagesA/membership-card/membership-card')" shape="circle"
							:custom-style="btnStyle">购买会员卡</u-button> 
					</view>
				</view>
				


			</view>
		</view>

		<view class="my-box u-m-t-30" style="padding: 40rpx 30rpx;" v-if="userInfo.memberCard">
			<view class="my-box-title u-flex u-row-between">
				<view>
					我的积分
				</view>
				<view class="tips u-flex">
					<view class="tips-item" @click="handleGoTo('/pagesD/integral/integral')">
						获取积分
					</view>
					<view class="tips-item" @click="handleGoTo('/pagesD/exchange/exchange')">
						去兑换
					</view>
					<view class="tips-item" @click="handleGoTo('/pagesD/records/records')">
						兑换记录
					</view>
				</view>
			</view>

			<view class="u-m-t-60 u-flex">
				<view class="icon-box">
					<image style="width: 74rpx;height: 76rpx;" src="@/static/my/icon_2.png" mode=""></image>
					<view class="num">
						{{userInfo.balance || '0'}}
					</view>
					<view class="desc">
						当前积分
					</view>
				</view>
				<view class="icon-box">
					<image style="width: 74rpx;height: 76rpx;" src="@/static/my/icon_3.png" mode=""></image>
					<view class="num">
						{{userInfo.cumulativeBalance || '0'}}
					</view>
					<view class="desc">
						累计积分
					</view>
				</view>
			</view>
		</view>


		<view class="my-box u-m-t-30">
			<view class="my-box-title">
				联系我们
			</view>
			<view class="u-m-t-30">
				<view class="content u-m-t-60">
					邮箱：{{companyIntro.email || ''}}
				</view>
				<view class="content">
					微信：{{companyIntro.phone || ''}}
				</view>
				<view class="content">
					地址：{{companyIntro.address || ''}}
				</view>
			</view>
		</view>
		<wxLogin :show="show" @close="show = false" @success="onLoginSuccess"></wxLogin>

		<u-popup v-model="editShow" border-radius="30" mode="center" width="80%">
			<view style="padding: 30rpx;">
				<u-form :model="form" ref="uForm">
					<u-form-item label="头像" prop="photo">
						<view style="width: 100%;display: flex;align-items: flex-end;justify-content: flex-end;">
							<view class="photo">
								<u-upload ref="uUpload" :max-size="5 * 1024 * 1024" :action="action"
									:file-list="fileList" max-count="1" :auto-upload="false"
									:before-upload="beforeUpload"></u-upload>
							</view>
						</view>
					</u-form-item>
					<u-form-item label="昵称" prop="name"><u-input input-align="right" v-model="form.name"
							placeholder="请输入昵称" /></u-form-item>
				</u-form>
				<view class="u-m-t-30">
					<u-button @click="submit" shape="circle" :custom-style="btnStyle">提交</u-button>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getCompanyIntro
	} from '../../api/user'
	import {
		memberInfo,
		memberUpdateInfo
	} from '@/api/member.js'
	import wxLogin from '@/components/wx-login/wx-login.vue'

	export default {
		data() {
			return {
				companyIntro: {},
				userInfo: {},
				imageUrl: this.$imageUrl,
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				token: '',
				show: false,
				editShow: false,
				form: {
					photo: '',
					name: ''
				}
			}
		},
		onLoad() {
			getCompanyIntro().then(res => {
				this.companyIntro = res.data
			})
		},
		components: {
			wxLogin
		},
		onShow() {
			memberInfo().then(res => this.userInfo = res.data)
			this.token = uni.getStorageSync('token')
		},
		methods: {
			handleGoTo(url) {
				uni.navigateTo({
					url
				})
			},
			onLoginSuccess() {
				this.token = uni.getStorageSync('token')
				this.userInfo = uni.getStorageSync('userInfo')
			},
			async submit() {
				if (this.$refs.uUpload.lists.length == 0) return this.$u.toast(`请上传头像`);
				if (!this.form.name) return this.$u.toast(`请输入昵称`);

				const image = await this.uploadFile(this.$refs.uUpload.lists[0].file.path);

				if (image.code != 200) return this.$u.toast('头像上传失败，请重新上传');

				memberUpdateInfo({
					photo: image.data,
					name: this.form.name
				}).then(res => {
					if (res.code == 200) {
						setTimeout(() => {
							uni.showToast({
								icon: 'success',
								title: '修改成功'
							});
							this.editShow = false

							this.userInfo.photo = image.data
							this.userInfo.name = this.form.name


							this.form.name = ''
							this.$refs.uUpload.clear()
						}, 800)
					} else {
						uni.hideLoading()
						this.$u.toast(`${res.msg}`);
					}
				})
			},
			uploadFile(filePath) {
				let _this = this;
				return new Promise(resove => {
					let a = uni.uploadFile({
						url: this.$imageUrl + '/api/member/imageUpload?token=' + uni.getStorageSync(
							'token'),
						filePath: filePath,
						name: 'file',
						success: res => {
							let data = JSON.parse(res.data);
							resove(data);
						}
					});
				});
			},
			handleUploadPhoto() {
				// if(this.userInfo.memberCard.photo) return this.$u.toast(`会员卡头像只允许上传一次`)
				let _this = this
				uni.showModal({
					title: '会员卡头像',
					content: '会员卡头像必须本人真实照片且只能上传一次，确定上传？',
					success(info) {
						if (info.confirm) {
							uni.chooseImage({
								sourceType: ['album'], //从相册选择
								success: chooseImageRes => {
									// console.log('成功', chooseImageRes);
									const tempFilePaths = chooseImageRes.tempFilePaths;
									uni.uploadFile({
										url: `${_this.$imageUrl}/api/member/card/imageUpload` +
											'?token=' + uni
											.getStorageSync('token'), //仅为示例，非真实的接口地址
										filePath: tempFilePaths[0],
										name: 'file',
										success: res => {
											let data = JSON.parse(res.data);
											// 成功：获取到头像
											if (data.code == 200) {
												memberInfo().then(info => _this.userInfo = info.data)
												_this.$u.toast(`上传成功`)
											} else {
												_this.$u.toast(`上传失败`)
											}
										}
									});
								},
								fail: err => {
									_this.$u.toast(`取消上传头像`)
								}
							});
						}
					}

				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #fafafa;
	}
</style>

<style lang="scss" scoped>
	.my {
		padding: 30rpx;

		&-box {
			padding: 30rpx 40rpx;
			background: #FFFFFF;
			border-radius: 10px;

			&-title {
				font-size: 32rpx;
				font-weight: bold;
				color: #000000;
			}
		}

		.bard-container {
			.bard-font {
				font-size: 28rpx;
				font-weight: bold;
				color: #FFFFFF;
				margin-top: 20rpx;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.tips {

			&-item {
				background: #FF5C53;
				border-radius: 40rpx;
				padding: 10rpx 20rpx;

				font-size: 22rpx;
				font-weight: bold;
				color: #FFFFFF;
				margin-left: 20rpx;
			}
		}

		.icon-box {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.num {
				font-size: 36rpx;
				font-weight: bold;
				color: #FF5C53;
				margin-top: 20rpx;
			}

			.desc {
				margin-top: 30rpx;
				font-size: 28rpx;
				font-weight: 500;
				color: #282B30;
			}
		}

		.content {
			margin-top: 30rpx;
		}

		.photo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150rpx;
			height: 150rpx;
			overflow: hidden;
			border-radius: 50%;
		}
	}
</style>