<template>
	<view class="u-p-30">
		<u-form :model="form" ref="uForm" label-width="140">
			<view class="box">
				<u-form-item label="商品类型" border-bottom prop="category">
					<view class="u-flex u-row-right" @click="show1 = true">
						<u-input v-model="form.category" placeholder="请选择商品类型" input-align="right" disabled
							@click="show1 = true" />
						<view class="u-m-l-10">
							<u-icon name="arrow-right" color="#999999"></u-icon>
						</view>
					</view>
				</u-form-item>
				<u-form-item label="物品名称" border-bottom prop="name">
					<u-input v-model="form.name" placeholder="请输入物品名称" input-align="right" />
				</u-form-item>
				<u-form-item label="价格" border-bottom prop="price">
					<u-input v-model="form.price" placeholder="请输入物品价格" input-align="right" type="number" />
				</u-form-item>
				<u-form-item label="新旧程度" border-bottom prop="newOldDegree">
					<view class="u-flex u-row-right" style="width: 100%;" @click="show2 = true">
						<u-input v-model="form.newOldDegree" placeholder="请选择新旧程度" input-align="right" disabled
							@click="show2 = true" />
						<view class="u-m-l-10">
							<u-icon name="arrow-right" color="#999999"></u-icon>
						</view>
					</view>
				</u-form-item>
				<u-form-item label="联系方式" prop="contactInfo" :border-bottom="false">
					<u-input v-model="form.contactInfo" placeholder="请输入联系方式" input-align="right" />
				</u-form-item>
				<!-- 商品类型 -->
				<u-picker v-model="show1" mode="selector" :range="selector1" range-key="name"
					@confirm="changeTypeConfirm"></u-picker>
				<!-- 新旧程度 -->
				<u-picker v-model="show2" mode="selector" :range="selector2" range-key="label"
					@confirm="changeNewOldDegreeConfirm"></u-picker>
			</view>

			<view class="box u-m-t-20" style="padding: 35rpx 30rpx;">
				<view class="box-title">
					物品图片
				</view>
				<view class="u-m-t-25">
					<u-form-item prop="images" :border-bottom="false">
						<u-upload :action="action" :file-list="fileList" max-count="1"
							:form-data="{uploadPath: '/rp/goods'}" @on-success="imageSuccess"
							@on-error="imageError"></u-upload>
					</u-form-item>
				</view>
			</view>

			<view class="box u-m-t-20" style="padding: 35rpx 30rpx;">
				<view class="box-title">
					描述
				</view>
				<view class="u-m-t-25" style="padding:30rpx;background-color: #f4f5f6;border-radius: 20rpx;">
					<textarea v-model="form.introduce" style="width: 100%;height: 217rpx;" placeholder="请输入商品相关描述"
						maxlength="-1"></textarea>
				</view>
			</view>
		</u-form>

		<view style="padding: 30rpx 0;">
			<u-button @click="handleSubmit" shape="circle" :loading="btnLoading" :custom-style="btnStyle">修改</u-button>
		</view>

	</view>
</template>

<script>
	import {
		getCategoryList,
		submitGoodsSave
	} from '@/api/goods.js'
	import {
		getGoodsInfo
	} from '../../api/goods'
	import {
		getDictList
	} from '@/api/common.js'
	export default {
		data() {
			return {
				show1: false,
				show2: false,
				selector1: [],
				selector2: [],
				form: {
					name: '',
					category: '',
					categoryId: '',
					price: '',
					newOldDegree: '',
					contactInfo: '',
					images: '',
					introduce: ''
				},
				action: this.$imageUrl + '/api/common/imgUpload',
				fileList: [],
				rules: {
					// 字段名称
					contactInfo: [{
						required: true,
						message: '请输入联系方式',
						trigger: ['change', 'blur'],
					}],
					category: [{
						required: true,
						message: '请选择商品类型',
						trigger: ['change', 'blur'],
					}],
					name: [{
						required: true,
						message: '请输入物品名称',
						trigger: ['change', 'blur'],
					}],
					price: [{
						required: true,
						message: '请输入物品价格',
						trigger: ['change', 'blur'],
					}],
					newOldDegree: [{
						required: true,
						message: '请选择物品新旧程度',
						trigger: ['change', 'blur'],
					}],
					contactInfo: [{
						required: true,
						message: '请输入联系方式',
						trigger: ['change', 'blur'],
					}],
					images: [{
						required: true,
						message: '请上传物品图片',
						trigger: ['change', 'blur'],
					}],
				},
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				btnLoading: false,
				goodsData: {}
			}
		},
		// 必须要在onReady生命周期，因为onLoad生命周期组件可能尚未创建完毕
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		async onLoad(query) {
			const resCategory = await getCategoryList()
			this.selector1 = resCategory.data

			const resDict = await getDictList({
				types: 'new_old_degree'
			})
			this.selector2 = resDict.data.new_old_degree


			getGoodsInfo({
				id: query.id
			}).then(res => {
				const data = JSON.parse(JSON.stringify(res.data.goods))
				this.goodsData = data

				for (let i in this.form) {
					this.form[i] = data[i]
				}

				this.form.category = this.goodsData.category.name
				this.form.categoryId = this.goodsData.category.id


				const newOldDegreeItem = this.selector2.filter(item => item.value == this.goodsData
					.newOldDegree)
				this.form.newOldDegree = newOldDegreeItem[0].label
				this.form.price = this.form.price.toString()

				this.fileList.push({
					url: this.$imageUrl + this.form.images,
				})
				console.log(this.form)
			})
		},
		methods: {
			changeTypeConfirm(e) {
				this.form.category = this.selector1[e].name
				this.form.categoryId = this.selector1[e].id
			},
			changeNewOldDegreeConfirm(e) {
				this.form.newOldDegree = this.selector2[e].label
			},
			imageSuccess(data) {
				setTimeout(() => {
					uni.showToast({
						icon: 'success',
						title: '上传成功'
					})
				}, 800)
				this.form.images = data.data.url
			},
			imageError() {
				setTimeout(() => {
					this.$u.toast(`上传失败，请重新上传`);
				}, 800)
			},
			handleSubmit() {
				if (this.btnLoading) return
				this.$refs.uForm.validate(valid => {
					if (valid) {
						this.btnLoading = true
						let form = JSON.parse(JSON.stringify(this.form))

						delete form.category
						delete form.categoryId

						form['category.id'] = this.form.categoryId
						const newOldDegreeItem = this.selector2.filter(item => item.label == form.newOldDegree)
						form.newOldDegree = newOldDegreeItem[0].value

						submitGoodsSave({...form,id: this.goodsData.id}).then(res => {
							if (res.code == 200) {
								uni.showToast({
									title: '修改成功',
									icon: 'success'
								})
							}

							if (res.code == 202) this.$u.toast(res.msg);

							setTimeout(() => {
								this.btnLoading = false
								if (res.code == 200) {
									uni.navigateBack()
								}
							}, 800)
						})
					} else {
						console.log('验证失败');
					}
				});
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.box {
		background: #FFFFFF;
		border-radius: 20rpx;
		padding: 0 30rpx;

		&-title {
			font-size: 28rpx;
			font-weight: 500;
			color: #333333;
		}
	}
</style>