<template>
	<view class="item u-flex u-row-between u-col-top" @click="handleGridItem(item)">
		<view class="item-left">
			<view class="title u-line-1">
				{{item.title || ''}}
			</view>
			<view class="desc u-flex">
				<image style="width: 40rpx;height: 40rpx;margin-right: 10rpx;" src="../static/index/time.png" mode="widthFix"></image>
				<text v-if="item.noticeTime">{{item.noticeTime || ''}}</text>
				<text v-if="item.releaseDate">{{item.releaseDate || ''}}</text>
			</view>
		</view>
		<image v-if="item.image" style="width: 220rpx;height: 150rpx;flex-shrink: 0;margin-left: 30rpx;border-radius: 20rpx;" :src="imageUrl + item.image" mode=""></image>
		<image v-if="item.titleImage" style="width: 220rpx;height: 150rpx;flex-shrink: 0;margin-left: 30rpx;border-radius: 20rpx;" :src="imageUrl + item.titleImage" mode=""></image>
	</view>
</template>

<script>
	export default {
		name: "item",
		data() {
			return {
				imageUrl: this.$imageUrl
			};
		},
		props: ['item'],
		methods: {
			handleGridItem(item) {
				if(item.url == '') return this.$u.toast(`该内容暂无详情链接`)
				uni.navigateTo({
					url: '/pages/web-view/web-view' + '?src=' + item.url
				})
			}
		},
		filters: {
			filterTime(val) {
				return val ? val.split(' ')[0] : ''
			}
		}
	}
</script>

<style lang="scss">
	.item {
		background-color: #fff;
		padding: 35rpx;
		margin-bottom: 20rpx;
		border-radius: 20rpx;
		
		&-left {
			flex: 1;
			width: calc(100% - 250rpx);
			height: 150rpx;
			position: relative;
			
			.title {
				font-size: 28rpx;
				font-weight: 500;
				color: #2C2C2C;
			}
			
			.desc {
				position: absolute;
				font-size: 24rpx;
				font-weight: 400;
				color: #666666;
				left: 0;
				bottom: 0;
			}
		}
	}
</style>