<template>
	<view class="u-p-30">
		<view v-if="list.length > 0">
			<view v-for="(item,index) in list" :key="index" class="u-m-b-20 article"
				@click="goto('/pagesA/second-hand/detail?id=' + item.id)">
				<view class="article-container u-flex u-col-top u-m-b-35">
					<image style="width: 180rpx;height: 180rpx;flex-shrink: 0;margin-right: 40rpx;"
						:src="imageUrl + item.images" mode=""></image>
					<view class="right">
						<view class="title u-line-1">
							{{item.name || ''}}
						</view>
						<view class="u-m-t-30 u-m-b-30 u-flex">
							<view class="u-m-r-20">
								<u-tag v-for="v in selector" :key="v.id" v-if="v.value == item.newOldDegree"
									:text="v.label" type="warning" />
							</view>
						</view>
						<view class="u-flex u-row-between">
							<text class="desc">商品类型：{{item.category.name || ''}}</text>
							<text class="price">￡{{item.price || ''}}</text>
						</view>
					</view>
				</view>
				<view class="article-bottom u-flex u-row-between">
					<view class="button" @click.stop="goto('/pagesD/edit-commodity/edit-commodity?id=' + item.id)">
						修改
					</view>
					<view class="u-flex">
						<view class="button" style="background-color: #FF5C53;color: #fff;"
							@click.stop="handleGrounding(item,1)" v-if="item.status == 2">
							上架
						</view>
						<view class="button u-m-l-30" style="background-color: #FF5C53;color: #fff;"
							@click.stop="handleGrounding(item,2)" v-if="item.status == 1">
							下架
						</view>
					</view>
				</view>
			</view>
			<view class="u-p-30">
				<u-loadmore :status="status" />
			</view>
		</view>


		<u-empty v-if="list.length == 0" text="物品列表暂无数据" mode="list" margin-top="130"></u-empty>
	</view>
</template>

<script>
	import {
		getGoodsMyList,
		submitGoodsUpdateStatus
	} from '../../api/goods'
	import {
		getDictList
	} from '@/api/common.js'
	import {
		mixins
	} from '../../mixins'
	export default {
		data() {
			return {
				urlApi: getGoodsMyList,
				params: {
					pageNo: 1,
					pageSize: 10
				},
				list: [],
				imageUrl: this.$imageUrl,
				selector: []
			}
		},
		mixins: [mixins],
		async onShow() {
			const resDict = await getDictList({
				types: 'new_old_degree'
			})
			this.selector = resDict.data.new_old_degree

			uni.startPullDownRefresh()
		},
		async onPullDownRefresh() {
			this.params.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList

			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		methods: {
			handleGrounding(item, status) {
				if (status == 1 && item.isSystemOperate && item.isSystemOperate == 1) return this.$u.toast(
					'该商品已让管理员下架，如需上架请联系管理员')

				submitGoodsUpdateStatus({
					id: item.id,
					status
				}).then(res => {
					if (res.code == 200) {
						this.$u.toast(res.msg) 
						uni.startPullDownRefresh()
					};

					if (res.code == 202) this.$u.toast(res.msg);
				})


			},
			goto(url) {
				uni.navigateTo({
					url
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #fafafa;
	}
</style>

<style lang="scss" scoped>
	.article {
		padding: 50rpx 35rpx;
		background-color: #fff;
		border-radius: 23px;

		&-bottom {
			.button {
				border: 2px solid #FF5C53;
				border-radius: 50rpx;
				padding: 10rpx 35rpx;

				font-size: 24rpx;
				font-weight: bold;
				color: #FF5C53;
			}
		}

		&-container {
			.right {
				width: calc(100% - 220rpx);

				.title {
					font-size: 28rpx;
					font-weight: 500;
					color: #000000;
				}

				.desc {
					font-size: 24rpx;
					font-weight: 500;
					color: #333333;
				}

				.price {
					font-size: 34rpx;
					font-weight: 800;
					color: #FF5C53;
				}
			}
		}
	}
</style>