<template>
	<view>
		<web-view :src="url"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				url: ''
			}
		},
		onLoad(options) {
			this.url = decodeURIComponent(options.src)
			this.url = this.url.trim() 
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
