<template>
	<view class="">
		<image style="background-color: rgb(255, 255, 255); width: 100%; height: 600rpx;" :src="imageUrl + detail.logo" mode="aspectFit"></image>
		<view class="u-p-30">
			<view class="box">
				<view class="box-title">
					{{detail.name || ''}}
				</view>

				<view style="margin: 30rpx 0;">
					<u-tag v-for="(item,index) in detail.labels" :key="index" :text="item" mode="warning" />
				</view>
				<view class="u-flex u-row-between">
					<view class="desc u-flex u-col-top">
						<u-icon name="map-fill"></u-icon>
						<view class="u-m-l-10" style="flex: 1;">
							{{detail.address || ''}}
						</view>
					</view>
					<view class="button" @click="handleClipboardData(detail.address)">
						复制
					</view>
				</view>
			</view>

			<view class="box u-m-t-30">
				<view class="box-title u-m-b-28">
					折扣说明
				</view>

				<view style="font-size: 28rpx;">
					{{detail.discountIntro || ''}}
				</view>
			</view>

			<view class="box u-m-t-30">
				<view class="box-title u-m-b-28">
					商家介绍
				</view>

				<view style="font-size: 28rpx;">
					<u-parse :html="detail.introduce"></u-parse>
				</view>
			</view>

			<view class="box u-m-t-30">
				<view class="box-title u-m-b-28">
					评价
				</view>

				<view v-if="scoreList.length > 0">
					<view class="u-flex list u-col-top" v-for="(item,index) in scoreList" :key="index">
						<image
							style="width: 63rpx;height: 63rpx;border-radius: 50%;margin-right: 30rpx; flex-shrink: 0;"
							:src="imageUrl + item.member.photo" mode=""></image>
						<view class="list-item">
							<view class="u-flex u-row-between u-col-top">
								<view class="name">
									{{item.member.name || ''}}
								</view>
								<u-rate :count="5" v-model="item.grade" disabled></u-rate>
							</view>


							<view class="center">
								{{item.remarks || ''}}
							</view>

							<view class="time">
								{{item.createDate || ''}}
							</view>
						</view>
					</view>
					
					<view class="more" @click="handleAdd">
						查看更多评价
					</view>
				</view>

				<u-empty v-if="scoreList.length == 0" text="暂无更多评价" mode="list" margin-top="80"></u-empty>
				<image  class="add" src="../../static/index/pj.png" mode="" @click="addScore"></image>
			</view>
		</view>

		<u-popup v-model="show" mode="bottom" safe-area-inset-bottom border-radius="30">
			<view class="popup">
				<view class="popup-title">
					店铺评价
				</view>
				<view class="u-flex u-row-between u-m-t-68 u-m-b-35">
					<view class="score">
						店铺评分
					</view>
					<u-rate :count="count" v-model="grade"></u-rate>
				</view>

				<u-input v-model="remarks" type="textarea" placeholder="请留下您的评价,多谢支持" maxlength="200" height="204"
					:custom-style="customStyle" />

				<view class="u-m-t-50">
					<u-button @click="handleSubmit" shape="circle" :loading="btnLoading"
						:custom-style="btnStyle">提交评价</u-button>
				</view>
			</view>
		</u-popup>

	</view>
</template>

<script>
	import {
		getBusinessAppraiseList,
		getBusinessInfo,
		submitBusinessAppraiseSave
	} from '../../api/business'
	import {
		memberInfo,
	} from '@/api/member.js'
	export default {
		data() {
			return {
				detail: {},
				imageUrl: this.$imageUrl,
				show: false,
				count: 5,
				grade: 5,
				remarks: '',
				customStyle: {
					background: '#F7F7F7',
					padding: '30rpx',
					borderRaius: '20rpx'
				},
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				btnLoading: false,
				scoreList: [],
				scoreCount: 0,
				pageNo: 1,
				userInfo: {}
			}
		},
		async onLoad(query) {
			const resDetail = await getBusinessInfo({
				id: query.id
			})

			this.detail = resDetail.data
			this.detail.labels = this.detail.labels.split(',')

			this.getList()
		},
		async onShow() {
			let res = await memberInfo()
			this.userInfo = res.data
		},
		methods: {
			addScore() {
				
				if(!this.userInfo.memberCard) return this.$u.toast('仅会员才能评论')
				
				if(this.userInfo.memberCard.status != 1) return this.$u.toast('仅会员才能评论')
				
				this.show = true
			},
			handleClipboardData(data) {
				uni.setClipboardData({
					data,
					success: function() {
						console.log('success');
					}
				});
			},
			handleSubmit() {
				if (!this.remarks || this.grade == 0) return this.$u.toast(`请输入评价`);
				this.btnLoading = true
				submitBusinessAppraiseSave({
					grade: this.grade,
					remarks: this.remarks,
					businessId: this.detail.id
				}).then(res => {
					if (res.code == 200) {
						this.$u.toast(res.msg);
						this.pageNo = 1
						this.getList()
						setTimeout(() => {
							this.show = false
							this.btnLoading = false
						}, 800)
					} else {
						this.$u.toast(res.msg);
						this.btnLoading = false
					}
				})
			},
			getList() {
				getBusinessAppraiseList({
					businessId: this.detail.id,
					pageNo: this.pageNo,
					pageSize: 5
				}).then(res => {
					this.scoreCount = res.data.count
					this.scoreList = res.data.list
				})
			},
			handleAdd() {
				if(this.scoreList.length >= this.scoreCount) return this.$u.toast(`暂无更多评价`);
				this.pageNo++
				getBusinessAppraiseList({
					businessId: this.detail.id,
					pageNo: this.pageNo,
					pageSize: 5
				}).then(res => {
					this.scoreList = [...res.data.list, ...this.scoreList]
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #fafafa;
	}
</style>

<style lang="scss" scoped>
	.box {
		margin-bottom: 20rpx;
		background: #FFFFFF;
		border-radius: 10rpx;
		padding: 35rpx 30rpx;
		position: relative;

		&-left {
			.title {
				font-size: 28rpx;
				font-weight: 500;
				color: #000000;
			}
		}

		&-right {
			.price {
				font-size: 42rpx;
				font-weight: 800;
				color: #FF5C53;
			}
		}

		&-title {
			font-size: 30rpx;
			font-weight: bold;
			color: #000000;
		}

		&-desc {
			margin: 28rpx 42rpx;
			font-size: 28rpx;
			font-weight: 500;
			color: #333333;
		}

		.desc {
			font-size: 24rpx;
			font-weight: 500;
			color: #666666;
			flex: 1;
			margin-right: 30rpx;
		}

		.button {
			border: 1px solid #FF5C53;
			border-radius: 40rpx;
			padding: 5rpx 30rpx;
			font-size: 22rpx;
			font-weight: 500;
			color: #FF5C53;
			flex-shrink: 0;
		}

		.add {
			position: fixed;
			right: 30rpx;
			width: 110rpx;
			height: 110rpx;
			bottom: 30rpx;
			z-index: 1000;
		}

	}

	.popup {
		padding: 40rpx 30rpx;

		&-title {
			font-size: 30rpx;
			color: #000;
			font-weight: 600;
			text-align: center;
		}
	}

	.list {
		
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 40rpx;
		padding-bottom: 40rpx;
		&-item {
			width: 100%;
			.name {
				font-size: 23rpx;
				font-weight: normal;
				color: #010101;
				flex: 1;
				margin-right: 30rpx;
			}

			.center {
				font-size: 21rpx;
				font-weight: normal;
				color: #626262;
				margin: 23rpx 0 34rpx;
			}

			.time {
				font-size: 20rpx;
				font-weight: 500;
				color: #929292;
			}
			
		}
		
	
	}
	.more {
		font-size: 26rpx;
		font-weight: bold;
		color: #FF5C53;
		padding: 30rpx 0;
		text-align: center;
	}
</style>