<template>
	<view class="integral">
		<view class="integral-bg"></view>
		<view class="integral-box">
			<view class="u-m-t-60 u-flex" style="border-radius: 20rpx;overflow: hidden;">
				<view class="icon-box">
					<image style="width: 74rpx;height: 76rpx;" src="@/static/my/icon_2.png" mode=""></image>
					<view class="num">
						{{userInfo.balance || '0'}}
					</view>
					<view class="desc">
						当前积分
					</view>
				</view>
				<view class="icon-box">
					<image style="width: 74rpx;height: 76rpx;" src="@/static/my/icon_3.png" mode=""></image>
					<view class="num">
						{{userInfo.cumulativeBalance || '0'}}
					</view>
					<view class="desc">
						累计积分
					</view>
				</view>
			</view>
			<view class="u-m-t-20">
				<u-button @click="show = true" shape="circle" :custom-style="btnStyle">上传小票获取积分</u-button>
			</view>
			<view class="box u-m-t-20 u-m-b-44">
				<view class="box-title">
					积分记录
				</view>

				<view class="main u-m-t-38">
					<view class="list" v-if="list.length > 0">
						<view class="list-item u-flex u-row-between u-m-b-26" v-for="(item,index) in list" :key="index">
							<u-image width="150rpx" height="150rpx" :src="imageUrl + item.images"></u-image>

							<view class="list-item-desc u-flex u-col-bottom">
								<text :style="{'color': v.label == '待审核' ? '#FF5C53' : v.label == '已驳回' ? 'red' :   v.label == '已入账' ? '#7BC8FF' :  v.label == '已扣除' ? '#aa81f3 ' : '','font-weight': 'bold',
									'font-size':  v.label == '已入账' ? '24rpx' : '30rpx'}" v-for="(v,i) in dictList" :key="i"
									v-if="item.status == v.value">{{v.label || ''}}</text>

								<view style="margin-left: 30rpx;">
									<view v-if="item.points" class="points"> {{item.points | filtersPrice}}</view>
									<view>{{item.createDate || ''}}</view>
								</view>
							</view>
						</view>
					</view>
					<u-empty v-if="list.length == 0" text="积分记录列表为空" mode="list" margin-top="130"></u-empty>
				</view>
			</view>


		</view>

		<u-keyboard ref="uKeyboard" mode="number" :dot-enabled="true" v-model="showKeyboard" @change="valChange"
			@backspace="backspace" :z-index="10750"></u-keyboard>

		<u-popup v-model="show" mode="center" width="680rpx" border-radius="10">
			<view class="popup">
				<u-form :model="form" ref="uForm" label-width="240">
					<u-form-item label="消费金额（英镑）" prop="money">
						<u-input @click="showKeyboard = true" type="number" v-model="form.money" placeholder="请输入消费金额"
							input-align="right" disabled />
					</u-form-item>
					<u-form-item label="消费商家" prop="businessName">
						<view class="u-flex u-row-right">
							<u-input v-model="form.businessName" disabled placeholder="请选择消费商家" input-align="right" />
							<view class="u-m-l-20">
								<u-icon @click="showPicker = true" name="arrow-down-fill" size="28"
									color="#999"></u-icon>
							</view>
						</view>
					</u-form-item>
					<u-form-item prop="images">
						<view class="u-flex u-row-center">
							<u-upload ref="uUpload" :action="action" :file-list="fileList" :before-upload="beforeUpload"
								max-count="1" :form-data="{uploadPath: '/rp/pointsRecord'}" @on-success="imageSuccess"
								@on-error="imageError"></u-upload>
						</view>
					</u-form-item>
					<u-form-item label="上传须知" label-position="top" border-bottom="false">
						<scroll-view class="scroll-tips" :scroll-y="true">
							<view class="tips">
								1.拍照时请保持收银小票完整，拍摄完整清晰， 需包含商户名，消费时间，票号以及消费金额。
							</view>
							<view class="tips">
								2.积分计算方式：每消费1英镑时获得1积分
								<view class="tips-desc">
									积分获取封顶：
								</view>
								<view class="tips-desc">
									餐饮类：当日封顶40积分
								</view>
								<view class="tips-desc">
									奶茶甜品类：当日封顶20积分
								</view>
								<view class="tips-desc">
									生鲜超市：当日封顶30积分
								</view>
								<view class="tips-desc">
									快递物流：当日封顶40积分
								</view>
								<view class="tips-desc">
									生活和其他：当日封顶30积分
								</view>
							</view>
							<view class="tips">
								3.请上传三日内（含三日）谢菲尔德中国学联合作 商家内有效消费小票。
							</view>
							<view class="tips">
								4.重打小票，补打小票，电子小票（除学联活动） 不参与积分累计。
							</view>
							<view class="tips">
								5.我们会在七个工作日内完成审核。
							</view>
							<view class="tips">
								6.如有相关积分积累，操作等问题，请咨询谢菲尔 德中国学联小助手微信号。
							</view>
						</scroll-view>
					</u-form-item>

				</u-form>
				<view class="u-m-t-47">
					<u-button @click="handleSubmit" shape="circle" :custom-style="btnStyle"
						:loading="btnLoading">提交</u-button>
				</view>
			</view>
		</u-popup>

		<u-picker v-model="showPicker" mode="selector" :range="selector" range-key="name"
			@confirm="pickerConfirm"></u-picker>
	</view>
</template>

<script>
	import {
		getPointsRecordMyList,
		submitPointsRecordSave
	} from '@/api/pointsRecord.js'
	import {
		getDictList
	} from '../../api/common';
	import {
		memberInfo,
	} from '@/api/member.js'
	import {
		getBusinessList
	} from '../../api/business'

	export default {
		data() {
			return {
				allBusinesses: [],
				showKeyboard: false,
				showPicker: false,
				show: false,
				selector: [],
				btnStyle: {
					background: '#FF5C53',
					color: '#fff',
					border: 'none',
				},
				action: this.$imageUrl + '/api/common/imgUpload',
				imageUrl: this.$imageUrl,
				fileList: [],
				rules: {
					// 字段名称
					businessName: [{
						required: true,
						message: '请输入消费商家',
						trigger: ['change', 'blur'],
					}, ],
					money: [{
						required: true,
						message: '请输入消费金额',
						trigger: ['change', 'blur'],
					}, ],
					images: [{
						required: true,
						message: '请上传消费小票',
						trigger: ['change', 'blur'],
					}, ],
				},
				form: {
					businessName: '',
					money: '',
					images: ''
				},
				btnLoading: false,
				list: [],
				dictList: [],
				userInfo: {}
			}
		},
		// 必须要在onReady生命周期，因为onLoad生命周期组件可能尚未创建完毕
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad() {
			getPointsRecordMyList({
				pageNo: -1,
			}).then(res => {
				this.list = res.data.list
			})

			getDictList({
				types: 'points_record_status'
			}).then(res => {
				this.dictList = res.data.points_record_status
			})

			this.loadAllBusinesses();
		},
		onShow() {
			memberInfo().then(res => this.userInfo = res.data)
		},
		methods: {
			valChange(e) {
				this.form.money += e
			},
			backspace(e) {
				this.form.money = this.form.money.slice(0, this.form.money.length - 1)
			},
			pickerConfirm(e) {
				const index = e; 
				this.form.businessName = this.selector[index].name;
			},
			imageSuccess(data) {
				if (data.code == 200) {
					uni.showToast({
						icon: 'success',
						title: '上传成功'
					})
					this.form.images = data.data.url
				} else {
					this.$u.toast(data.msg + '请重新上传')
				}
			},
			async loadAllBusinesses(pageNo = 1) {
				try {
					const res = await getBusinessList({
						pageSize: 25,
						pageNo
					});
					if (res.data.list && res.data.list.length > 0) {
						this.allBusinesses = this.allBusinesses.concat(res.data.list);
						this.loadAllBusinesses(pageNo + 1); // 递归加载下一页
					} else {
						this.selector = this.allBusinesses; // 所有页加载完成，设置到selector
					}
				} catch (error) {
					console.error("Error loading businesses:", error);
				}
			},
			imageError() {
				setTimeout(() => {
					this.$u.toast(`上传失败，请重新上传`);
				}, 800)
			},
			handleSubmit() {
				if (this.btnLoading) return
				this.$refs.uForm.validate(valid => {
					if (valid) {
						this.btnLoading = true
						submitPointsRecordSave(this.form).then(res => {
							if (res.code == 200) {
								this.$u.toast(res.msg)
								getPointsRecordMyList({
									pageNo: 1,
									pageSize: 10,
								}).then(res => {
									this.list = res.data.list
								})
							}

							if (res.code == 202) this.$u.toast(res.msg);


							setTimeout(() => {
								this.btnLoading = false
								if (res.code == 200) {
									this.show = false

									for (let i in this.form) {
										this.form[i] = ''
									}

									this.$refs.uUpload.clear()
								}
							}, 800)
						})
					} else {
						console.log('验证失败');
					}
				});
			}
		},
		filters: {
			filtersPrice(val) {
				if (val > 0) {
					return '+' + val
				} else {
					return val
				}
			}
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.integral {
		&-bg {
			background-color: #FF5C53;
			width: 100%;
			height: 200rpx;
		}

		.integral-box {
			padding: 0 30rpx;
			position: relative;
			top: -200rpx;


			.icon-box {
				padding: 30rpx 0;
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-color: #fff;

				.num {
					font-size: 36rpx;
					font-weight: bold;
					color: #FF5C53;
					margin-top: 20rpx;
				}

				.desc {
					margin-top: 30rpx;
					font-size: 28rpx;
					font-weight: 500;
					color: #282B30;
				}

			}


			.box {
				background-color: #fff;
				padding: 30rpx;
				border-radius: 20rpx;

				&-title {
					font-size: 30rpx;
					font-weight: bold;
					color: #000000;
				}
			}

			.main {
				.list {
					&-item {
						padding-bottom: 26rpx;
						border-bottom: 1px solid #E5E5E5;

						&:last-child {
							padding-bottom: 0;
							border-bottom: 0;
						}

						&-desc {
							text {
								font-size: 30rpx;
								color: #666666;
							}
						}
					}
				}
			}
		}

		.popup {
			padding: 20rpx 50rpx;

		}

		.scroll-tips {
			height: 300rpx;
			overflow: hidden;
			overflow-y: auto;
		}

		.tips {
			font-size: 26rpx;
			font-weight: 500;
			color: #999999;
			line-height: 1.5;

			&-desc {
				font-size: 24rpx;
				color: #999999;
				line-height: 1.5;
				margin-left: 20rpx;
			}
		}

		.points {
			font-size: 40rpx;
			font-weight: bold;
			color: #7BC8FF;
			text-align: right;
			margin-bottom: 23rpx;
		}
	}
</style>