<template>
	<web-view src=''></web-view> 
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
		
		},
		methods2: {
		
		}
	}
</script>

<style>

</style>