<template>
	<web-view src='https://mp.weixin.qq.com/s/Dg2-_JXrpyVFA6oV7fO0kQ'></web-view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
		
		},
		methods2: {
		
		}
	}
</script>

<style>

</style>