<template>
	<view>
		<image style="width: 100%;" src="../../static/index/code_4.png" mode="widthFix" :show-menu-by-longpress="true"></image>
		<!-- <image style="width: 70%;display: block;margin: 0 auto;" src="@/static/index/code_1.jpg" mode="widthFix"></image>
		<view style="color: #999;text-align: center;font-size: 28rpx;line-height: 80rpx;">
			谢菲中国学联小助手1号
		</view>
		<image style="width: 70%;display: block;margin: 0 auto;" src="@/static/index/code_2.jpg" mode="widthFix"></image>
		<view style="color: #999;text-align: center;font-size: 28rpx;line-height: 80rpx;">
			谢菲中国学联小助手2号
		</view>
		<image style="width: 70%;display: block;margin: 0 auto;" src="@/static/index/code_3.jpg" mode="widthFix"></image>
		<view style="color: #999;text-align: center;font-size: 28rpx;line-height: 80rpx;">
			谢菲中国学联小助手5号
		</view> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
