<template>
	<view class="">
		<u-swiper :list="bannerList" height="600" name="image"></u-swiper>

		<view class="u-p-30">
			<view class="box u-flex u-row-between">
				<view class="box-left">
					<view class="title">
						{{detail.name || ''}}
					</view>
					<view style="margin: 22rpx 0;">
						<u-tag v-for="v in selector" :key="v.id" v-if="v.value == detail.newOldDegree" :text="v.label"
							type="warning" />
					</view>
					<view class="u-flex">
						<image style="width: 40rpx;height: 40rpx;border-radius: 50%;margin-right: 14rpx;flex-shrink: 0;"
							:src="imageUrl + detail.member.photo" mode=""></image>
						<text>{{detail.member.name || ''}}</text>
					</view>
				</view>
				<view class="box-right">
					<view class="price">
						￡{{detail.price || ''}}
					</view>
				</view>
			</view>

			<view class="box">
				<view class="box-title">
					描述
				</view>
				<view class="box-desc u-m-t-30 u-m-b-30">
					{{detail.introduce || ''}}
				</view>
				<view class="box-title">
					联系方式
				</view>
				<view class="u-flex u-row-between box-desc u-m-t-30">
					<text>{{detail.contactInfo || ''}}</text>
					<view class="button" @click.stop="handleClipboardData(detail.contactInfo)">
						复制
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getGoodsInfo
	} from '../../api/goods'
	import {
		getDictList
	} from '@/api/common.js'
	export default {
		data() {
			return {
				detail: {},
				imageUrl: this.$imageUrl,
				selector: [],
				bannerList: []
			}
		},
		async onLoad(query) {
			
			await this.$onLaunched
			
			let res =  await getGoodsInfo({id: query.id})
			
			
			if (res.code == 202)  {
				this.$u.toast(res.msg);
				
				setTimeout(() => {
					uni.redirectTo({
						url: '/pagesA/second-hand/second-hand'
					})
				}, 1000)
				return
			} 
			
			this.detail = res.data.goods
			this.detail.images = this.detail.images.split('|')
			this.detail.images.map(item => {
				this.bannerList.push(this.imageUrl + item)
			})

			const resDict = await getDictList({
				types: 'new_old_degree'
			})
			this.selector = resDict.data.new_old_degree
		},
		methods: {
			handleClipboardData(data) {
				uni.setClipboardData({
					data,
					success: function() {
						console.log('success');
					}
				});
			},
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.box {
		margin-bottom: 20rpx;
		background: #FFFFFF;
		border-radius: 10rpx;
		padding: 35rpx 30rpx;

		&-left {
			.title {
				font-size: 28rpx;
				font-weight: 500;
				color: #000000;
			}
		}

		&-right {
			.price {
				font-size: 42rpx;
				font-weight: 800;
				color: #FF5C53;
			}
		}

		&-title {
			font-size: 30rpx;
			font-weight: bold;
			color: #000000;
		}

		&-desc {

			font-size: 28rpx;
			font-weight: 500;
			color: #333333;
		}
	}

	.button {
		border: 1px solid #FF5C53;
		border-radius: 40rpx;
		padding: 5rpx 30rpx;
		font-size: 22rpx;
		font-weight: 500;
		color: #FF5C53;
	}
</style>