<template>
	<view :class="[ isScroll ? 'control-scroll': '']">
		<view class="u-p-30 relative" style="background-color: #fff;">
			<u-search v-model="params.name" placeholder="请输入商品名称" action-text="发布" :action-style="actionStyle" @custom="gotoRelease"
			 @change="inputChange"></u-search>
		</view>

		<view class="relative" style="background-color: #fff;padding: 0 30rpx;">
			<u-tabs active-color="#FF5C53" :list="tabsList" :is-scroll="true" :current="current" @change="change"></u-tabs>
		</view>

		<view style="background-color: #fff;">
			<!-- <u-dropdown @open="isScroll = true" @close="isScroll = false">
				<u-dropdown-item @change="dropdownChange1" title="价格" v-model="value1"
					:options="options1"></u-dropdown-item>
				<u-dropdown-item @change="dropdownChange2" title="新旧程度" v-model="value2"
					:options="options2"></u-dropdown-item>
			</u-dropdown> -->
			<view style="width: 100%; height: 40px; background-color: white;">
				<!-- filterData:筛选数据  defaultIndex： 默认选择序列 @ed:选择事件 返回选择的值-->
				<chenchuangCCDropDownFilter :filterData='filterData' :defaultIndex='defaultIndex' @onSelected='onSelected'></chenchuangCCDropDownFilter>
			</view>
		</view>

		<view class=" u-m-t-38" v-if="list.length > 0">
			<u-row gutter="38">
				<u-col span="6" v-for="(item,index) in list" :key="index">
					<view class="layout" @click="handleGoToDetail(item.id)">
						<image style="width: 100%;height: 305rpx;" :src="imageUrl + getImagesO(item.images)" mode=""></image>
						<view class="u-p-30">
							<view class="title u-line-1">
								{{item.name || ''}}
							</view>
							<view class="price">
								￡{{item.price || ''}}
							</view>
							<view class="user u-flex">
								<image style="width: 40rpx;height: 40rpx;border-radius: 50%;margin-right: 14rpx;flex-shrink: 0;" :src="imageUrl + item.member.photo"
								 mode=""></image>
								<view class="u-line-1">{{item.member.name || ''}}</view>
							</view>
						</view>
					</view>
				</u-col>

			</u-row>

			<view class="u-p-30">
				<u-loadmore :status="status" />
			</view>
		</view>
		<u-empty v-if="list.length == 0" text="物品列表暂无数据" mode="list" margin-top="130"></u-empty>

	</view>
</template>

<script>
	import {
		getCategoryList,
		getGoodsList
	} from '@/api/goods.js'
	import {
		mixins
	} from '../../mixins'
	import chenchuangCCDropDownFilter from '@/components/chenchuang-CCDropDownFilter/chenchuang-CCDropDownFilter.vue'
	const app = getApp()

	export default {
		components: {
			chenchuangCCDropDownFilter
		},
		data() {
			return {
				actionStyle: {
					background: '#FF5C53',
					borderRadius: '32px',
					fontSize: '24rpx',
					fontWeight: 'bold',
					color: '#FFFFFF',
					height: '64rpx',
					lineHeight: '64rpx',
					width: '120rpx'
				},
				tabsList: [{
					name: '全部',
					id: ''
				}],
				current: 0,
				value1: '',
				value2: '',
				options1: [{
						label: '由低到高',
						value: 1,
						type: 'price',
						sort: 'ASC'
					},
					{
						label: '由高到低',
						value: 2,
						type: 'price',
						sort: 'DESC'
					},
				],
				options2: [{
						label: '由旧到新',
						value: 1,
						type: 'newOldDegree',
						sort: 'ASC'
					},
					{
						label: '由新到旧',
						value: 2,
						type: 'newOldDegree',
						sort: 'DESC'
					},
					{
						label: '全新',
						value: 3,
						type: 'newOldDegree',
						sort: 'DESC'
					}
				],
				filterData: [
					[{
							text: '价格',
							value: ''
						}, {
							text: '由低到高',
							value: 1,
							type: 'price',
							sort: 'ASC'
						},
						{
							text: '由高到低',
							value: 2,
							type: 'price',
							sort: 'DESC'
						},
					],
					[{
							text: '新旧程度',
							value: '',
						},
						{
							text: '由旧到新',
							value: 1,
							type: 'newOldDegree',
							sort: 'ASC'
						},
						{
							text: '由新到旧',
							value: 2,
							type: 'newOldDegree',
							sort: 'DESC'
						},
						{
							text: '全新',
							value: 3,
							type: 'newOldDegree',
							sort: '99'
						}
					],
				],
				defaultIndex: [0, 0],
				urlApi: getGoodsList,
				imageUrl: this.$imageUrl,
				list: [],
				params: {
					name: '',
					pageNo: 1,
					pageSize: 10,
					categoryId: '',
					orderBy: '',
					newOldDegree: ''
				},
				isScroll: false
			}
		},
		mixins: [mixins],
		async onLoad() {
			await this.$onLaunched
			
			const resCategory = await getCategoryList()

			this.tabsList = [...this.tabsList, ...resCategory.data]

			this.params.pageNo = 1
			this.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList
		},
		onShow() {
			if (app.globalData.isPullDownRefresh) {
				this.params.categoryId = this.tabsList[this.current].id
				uni.startPullDownRefresh()

				app.globalData.isPullDownRefresh = false
			}
		},
		async onPullDownRefresh() {
			this.params.pageNo = 1
			this.pageNo = 1
			let resList = await this.getList(this.urlApi, this.params)
			this.list = resList

			setTimeout(() => {
				uni.stopPullDownRefresh(); //停止刷新
			}, 800)
		},
		methods: {
			async change(index) {
				this.params.name = ''

				this.current = index;
				this.params.categoryId = this.tabsList[index].id

				uni.startPullDownRefresh()
			},
			handleGoToDetail(id) {
				uni.navigateTo({
					url: '/pagesA/second-hand/detail?id=' + id
				})
			},
			gotoRelease() {
				if (!uni.getStorageSync('token')) return uni.showModal({
					title: '未登录提示',
					content: '请先前往我的页面，进行登录，登录之后即可发布商品',
					success(res) {
						if (res.confirm) {
							uni.switchTab({
								url: '/pages/my/my'
							})
						}
					}
				})

				uni.navigateTo({
					url: '/pagesA/release/release'
				})
			},
			async inputChange(e) {
				this.list = await this.getList(this.urlApi, this.params)
			},
			async onSelected(e) {
				this.getListSort(e)
				this.list = await this.getList(this.urlApi, this.params)
			},
			getImagesO(e) {
				return e.split('|')[0]
			},
			getListSort(e) {
				let listSort = []

				if (e[0][0].type) listSort.push(`${e[0][0].type} ${e[0][0].sort}`)

				if (e[1][0].type && e[1][0].sort != '99') {
					listSort.push(`${e[1][0].type || ''} ${e[1][0].sort || ''}`)
					this.params.newOldDegree = ''
				}

				if (e[1][0].type && e[1][0].sort == '99') {
					listSort.splice(1, 1)
					this.params.newOldDegree = e[1][0].sort
				}

				if (!e[1][0].type && e[1][0].sort != '99') {
					this.params.newOldDegree = ''
				}


				this.params.orderBy = listSort.filter(item => item != undefined).join(',')
			},
			getPriceSort(data) {
				if (!data) return undefined
				return this.options1[data - 1].type + ' ' + this.options1[data - 1].sort
			},
			getNewOldDegreeSort(data) {
				if (!data) return undefined
				return this.options2[data - 1].type + ' ' + this.options2[data - 1].sort
			}
		},
		onUnload() {
			if (app.globalData.isPullDownRefresh) delete app.globalData.isPullDownRefresh
		}
	}
</script>

<style>
	page {
		background-color: #FAFAFA;
	}
</style>

<style lang="scss" scoped>
	.layout {
		background: #FFFFFF;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.09);
		border-radius: 10rpx;
		overflow: hidden;
		margin-bottom: 38rpx;

		.title {
			font-size: 26rpx;
			font-weight: 500;
			color: #000000;
		}

		.price {
			font-size: 34rpx;
			font-weight: 800;
			color: #FF5C53;
			margin: 30rpx 0;
		}

		.user {
			font-size: 24rpx;
			font-weight: 500;
			color: #000000;
		}
	}

	/deep/ .u-dropdown__content__mask.data-v-0340bb60 {
		position: absolute !important;
		z-index: -1 !important;
		height: 100vh;
	}

	/deep/ .u-dropdown__menu.data-v-0340bb60 {
		position: relative !important;
		z-index: 12 !important;
	}

	.relative {
		position: relative;
		z-index: 12;
	}

	.control-scroll {
		height: 100vh;
		overflow-y: hidden;
	}

	/deep/ .uni-scroll-view::-webkit-scrollbar {
		/* 隐藏滚动条，但依旧具备可以滚动的功能 */
		display: none;
		width: 0 !important;
		height: 0 !important;
		-webkit-appearance: none;
		background: transparent;
		color: transparent;
	}
</style>
